<ul class="list-group">
  <h1>Product Inventory</h1>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Number of products:
    <span class="badge badge-primary badge-pill"><%= @products.length %></li></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  Number of categories:
    <span class="badge badge-primary badge-pill"><%= @category.length %></li></span>
  </li>
</ul>

